*{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
#back-cover{
    background-image: url(https://thumbs.dreamstime.com/b/textile-traditional-allover-pattern-design-print-small-mughal-flower-background-art-fabric-268789523.jpg);
    mix-blend-mode: multiply;
    opacity: .2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.navbar{
    display: flex;
    flex:  1 1 auto;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    list-style: none;
    gap: 35px;
    font-family:  'josefin sans', 'Times New Roman', Times, serif;
    padding: 50px;
    background-color: goldenrod;
    z-index: 10;
}
.navbar > li {
    color: maroon;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid goldenrod;
}
.hero{
    background-color: maroon;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.hero > img {
    width: 80%;
    padding: 60px;
    border-radius: 100px;
}
#hero-description > p{
   color: goldenrod;
   padding: 50px;
   font-size: 30px;
   position: relative;
   top: 70px;
   margin-left: 20px;
}
#hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    font-family: 'josefin sans' , 'Times New Roman', Times, serif;
    gap: 20px;
}
#hero-description > button {
    background-color: goldenrod;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: maroon;
    box-shadow: 0px 7px 9px -4px rgba(0,0,0,.5);
    padding: 10px;
    font-size: 25px;
    margin: 40px 40px 40px 70px;
    font-family: 'cabin sketch' , 'Times New Roman', Times, serif;
    z-index: 200;
}
#hero-description > h1 {
    font-size: 60px;
    padding: 20px;
    background-color: goldenrod;
    color: maroon;
    font-weight: normal;
    position: absolute;
    left: 3%;
    top: 42%;
    font-family: 'cabin sketch', 'Times New Roman', Times, serif;
}
#our-story{
    display: flex;
    background-color: maroon;
    flex-direction: column;
    flex-wrap: wrap;
    padding-inline: 40px;
    height: 100vh;
    
}
#our-story > img{
    width: 25%;
    margin: 20px 30px;
    border-radius: 20px;
}
#our-story > h2 {
    font-size: 50px;
    padding: 20px;
    margin: 60px 20px 20px 40px;
    background-color: goldenrod;
    color: maroon;
    font-weight: normal;
    font-family: 'josefin sans', 'Times New Roman', Times, serif;
    width: 350px;
}
#story{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 70px 20px 20px 60px;
    flex: 1 1 auto;
    gap: 20px;
}
#story > p {
    width: 50%;
    color: goldenrod;
    font-size: 23px;
    font-family: 'josefin sans' , 'Times New Roman', Times, serif;
}
#menu {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: maroon;
    color: goldenrod;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#menu > h2 {
    font-size: 50px;
    padding: 20px;
    margin: 60px 20px 20px 40px;
    background-color: goldenrod;
    color: maroon;
    font-weight: normal;
    font-family: 'josefin sans', 'Times New Roman', Times, serif;
    align-self: flex-start;
}

#dishes {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 1fr ;
    border: 5px solid goldenrod;
    border-radius: 20px;
    width: 65%;
    margin-bottom: 50px;
}
.beverages >div >  figure > img{
    width: 400px; 
    height: 400px;
    z-index: 1000;
    position: relative;
}
.main-course > div> figure >  img , .desserts > div > figure > img{
  width: 450px;
  height: 350px;
}
#dishes > div > div > figure > figcaption {
    text-align: center;
    font-size: 25px;
    background-color: goldenrod;
    color: maroon;
    font-family: "josefin sans" , 'Times New Roman', Times, serif;
    padding: 20px;
}
#dishes > div > h3 {
    font-size: 35px;
    background-color: goldenrod;
    color: maroon;
    padding: 15px;
    font-family: 'josefin sans', 'Times New Roman', Times, serif;
    align-self: flex-start;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 200;
}
.beverages {
    display: flex;
    grid-area: 1 / 1 / 1 / 2 span;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.beverages  > div {
   display: flex;
   gap: 40px;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;
   padding: 50px;
   flex-wrap: wrap;
}
.main-course{
    grid-area: 2 / 1 / 3 / 2 span;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-course > div {
    display: flex;
    gap: 40px;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }

.desserts {
    grid-area: 3 / 1 / 3 / 2 span;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.desserts > div {
    display: flex;
    gap: 40px;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    width: 100vw;
    background-color: maroon;
    color:goldenrod;
}
#info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(5, 5, 87);
    padding: 40px;
    height: 430px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#info > div > h3 {
   font-size: 25px;
   color : rgb(233, 146, 17);
   padding-bottom: 5px;
   font-family: "josefin sans" , 'Times New Roman', Times, serif;
}
#info > div > p {
    font-size: 15px;
    color : white;
    line-height:  22px;
    font-family: "josefin sans" , 'Times New Roman', Times, serif;
}
#map{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    z-index: 1000;
    border: none;
}
